<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrate" src="/img/pic.jpg">
        <h2>{{name}}</h2>
        </div>
        {{>footer}}
        <script src="/js/include.js"></script>
    </body>
</html>